@use "./variables" as *;

// screen size breakpoint mixins
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

//mobile text styles

//tablet/desktop text styles

//global mixins
@mixin remove-default-links {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}
