//variables

//screen breaking points
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//primary colors
$primary-gray-blue: #7b829c; //(123,130,156)
$primary-light-blue: #e4f2fd;
$primary-bright-blue: #89d7fb;
$primary-gray: #afb3c5;
$primary-dark-blue: #242a43;
$primary-neutral-blue: #9ec7e4;

// font-family: "Fira Sans",sans-serif;
